.navbar-brand, .nav-link {
    font-family: 'Poppins' !important;
    color: white !important;

}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler{
    color: transparent;
}

.bi{
    background-color: transparent;
    color: #13072E;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 1rem;
    border-radius: 1rem;
}

.logo {
    margin-right: 0.5rem;
}

.navLinks {
    display: flex;
    justify-self: start;
}

.navbar-collapse {
    padding-left: 3rem;
}
