{% extends "templs/nav.html" %}
{% block title %} Sobre nós {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> {% endblock %}
{% block content %}
    <div class="card p-4" style="width: 22rem;">
        <h2 class="text-center bg-transparent text-white-custom mb-4">Login</h2>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Digite sua senha" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-secondary">Cadastro</button>
            </div>
        </form>
    </div>
{% endblock %}